#qrcode_output img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: unset;
    height: unset;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}